# LF everywhere, on every platform: several tests read source files and match line-anchored
# patterns, and a Windows checkout with autocrlf turned every one of them into a miss
# (2026-09-14, the first Windows CI run).
* text=auto eol=lf
*.jpg binary
*.png binary
# The shareware DOOM package is kept byte for byte as id Software shipped it (CRLF text files
# included): its terms allow it to be redistributed unmodified, so git must not normalise it.
doom_dos/** binary
